.nav-bar {
    display: flex;
    flex-shrink: 0;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(27, 27, 27, 0.1);
    align-items: stretch;
    justify-content: center;
    height: 54px;
    z-index: 999;

    & .nav-item-group {
        display: flex;
        flex-shrink: 0;

        .badge-count {
            margin-right: var(--spacing);
            cursor: pointer;
            .ant-badge-count {
                top: 15px;
            }

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5rem;
                width: 1.5rem;
                height: 1.5rem;
                background-color: #ddd;
            }

            sup {
                padding: 0;
                border: none;
            }
        }
    }

    & .nav-item {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 0px 10px;
        cursor: pointer;
        white-space: nowrap;
        background-color: #fff;

        &.active {
            background-color: var(--bgColor-selected);
            color: var(--color-selected);
        }

        &:hover:before {
            position: absolute;
            content: "";
            bottom: 0px;
            width: 100%;
            height: 1px;
            margin-left: -10px;
            background-color: var(--bgColor-selected);
            color: var(--color-selected);
        }
    }

    & .nav-search-item {
        &:hover:before {
            background-color: transparent;
        }
    }

    & .nav-item-right {
        margin-left: auto;
    }

    & .branch-name {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        padding: 0 var(--spacing-sm);
        background-color: var(--bgColor-primary);
        color: var(--color-primary);
        height: 54px;
        font-weight: bold;

        & .menu-toggle {
            font-size: 1.5em;
            display: none !important;
        }
    }

    .notification-dropdown {
        display: flex;
        align-items: center;
    }
}

@media only screen and (max-width: 768px) {
    .nav-open.nav-bar {
        & .nav-item {
            display: flex !important;
        }
    }

    .nav-bar {
        flex-direction: column;

        & .nav-item {
            display: none;
            padding: 10px;
        }

        & .nav-item-right {
            margin-left: unset;
        }

        & .branch-name {
            & .menu-toggle {
                margin-left: auto;
                padding: 12px;
                display: initial !important;
                cursor: pointer;
            }
        }
    }

    .nav-item-group {
        flex-direction: column;
    }
}

.drop-down-notification {
    .wrap {
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: var(--bs);
        overflow: hidden;
        margin: 0 auto;

        .item {
            display: flex;
            padding: var(--spacing-sm);
            align-items: center;
            &:hover {
                background-color: var(--bgColor-hovered);
                color: var(--color-hovered);
            }
        }
    }
}
