.app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .body {
        flex: 1;
        background-color: #f1f1f1;
    }
    .footer {
        background-color: var(--bgColor-tertiary);
        color: var(--color-tertiary);
        padding: var(--spacing-sm);
    }
}
